* {
    background-color: salmon;
}

h1 {
    display: flexbox;
    text-align: center;
    font-size: 50px;
    padding: 0 auto;
    margin: 0 auto;
    color: rgb(94, 255, 0);
    background-color: rgb(112, 22, 202);
    border-radius: 50%;

}

h3 {
    display: flexbox;
    text-align: center;
    font-size: 30px;
    background-color: rgb(0, 0, 0);
    color: whitesmoke;
}