table{
    /* border: 1px solid #000; */
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid grey;
}
tr, td{
    /* font-size: 15px; */
    padding: 10px 20px;
    border: 1px solid grey;
    border-radius: 20px;
}